<html>

<head>
	<title>数据库设计文档 --{{ dbname }}</title>
	<style type='text/css'>
	body,
	td {
		font-family: verdana;
		font-size: 12px;
		line-height: 150%;
	}

	table {
		width: 100%;
		background-color: #ccc;
		margin: 5px 0;
	}

	td {
		background-color: #fff;
		padding: 3px;
		padding-left: 10px;
	}

	thead td {
		text-align: center;
		font-weight: bold;
		background-color: #eee;
	}

	a:link,
	a:visited,
	a:active {
		color: #015FB6;
		text-decoration: none;
	}

	a:hover {
		color: #E33E06;
	}
	</style>

	<head>

		<body style='text-align:center;'>
			<div style='width:800px; margin:20px auto; text-align:left;'><a name='index' />
				<H2 style='text-align:center; line-height:50px;'>数据库设计文档</H2>
				<div><b>数据库名：{{ dbname }}</b></div>
				<table cellspacing='1' cellpadding='0'>
					<thead>
						<tr>
							<td style='width:40px; '>序号</td>
							<td>表名</td>
							<td>说明</td>
						</tr>
					</thead>
					{% for key, value in recordset.iteritems()%}
						<tr>
							<td style='text-align:center;'>{{ loop.index }}</td>
							<td><a href='#{{ key }}'>{{ key }}</a></td>
							<td>后台活动表</td>
						</tr>
					{% endfor %}
				</table>
				{% for key, columns in recordset.iteritems()%}
					<a name='{{ key }}' />
					<div style='margin-top:30px;'><a href='#index' style='float:right; margin-top:6px;'>返回目录</a><b>表名：{{ key }}</b></div>
					<div>说明：后台活动表</div>
					<div>数据列：</div>
					<table cellspacing='1' cellpadding='0'>
						<thead>
							<tr>
								<td style='width:40px; '>序号</td>
								<td>名称</td>
								<td>数据类型</td>
								<td>允许空值</td>
								<td>主键</td>
								<td>默认值</td>
								<td>额外信息</td>
								<td>说明</td>
							</tr>
						</thead>
						{% for  column in columns%}
							<tr>
								<td style='text-align:center;'>{{ loop.index }}</td>
								<td>{{ column[0] }}</td>
								<td align='center'>{{ column[1] }}</td>
								<td align='center'>{{ column[2] }}</td>
								<td align='center'>{{ column[3] }}</td>
								<td align='center'>{{ column[4] }}</td>
								<td align='center'>{{ column[5] }}</td>
								<td>{{ column[6] }}</td>
							</tr>
						{% endfor %}
					</table>
				{% endfor %}
			</div>
		</body>

</html>
